.transaction {
    &.saved {
        button.tx-save, button.tx-cancel, button.tx-delete {
            display: none;
        }
    }

    &.editing {
        background: green;
        button.tx-edit {
            display: none;
        }
    }
}